<% @dates.each do |date| %>
  <div>
    <%= form_tag entries_path, remote: true do %>
      <%= content_tag :span, l(date) %>
      <%= hidden_field_tag :date, date %>
      <%= text_field_tag :start_time %>
      ~
      <%= text_field_tag :end_time %>
      <%= text_field_tag :things_done %>
    <% end %>
  </div>
<% end %>

<div id="entries">
</div>
